@page
@model Currency.Pages.HeaderMenu.amlkycModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Политика AML/KYC";
}

<div class="container">
    <div class="exchange__body">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

