@page
@model Currency.Pages.HeaderMenu.ctsModel
@{
    Layout = "_layout";
    ViewData["Title"] = "Контакты";
}

<div class="container">
    <div class="exchange__body">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>