@page
@model Currency.Pages.HeaderMenu.rulesModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Првила сервиса";
}

<div class="container">
    <div class="exchange__body">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

